:root {
    --nwtr-brown: #b39e7f;
    --container-spacing: 1.5rem;

    /* todo: Remove !important properties */
    --primary: #f13a59 !important;
    --primary-hover: #e81035 !important;
    --primary-focus: rgba(241, 58, 89, 0.125) !important;
    --primary-inverse: #fff !important;

    --font-size: 18px;
    --h2-color: var(--h1-color) !important;

    --form-element-spacing-vertical: 0.5rem;
    --form-element-spacing-horizontal: 0.75rem;
}

@media (min-width: 992px) {
    :root {
        --font-size: 19px;
    }
}

@media (min-width: 1200px) {
    :root {
        --font-size: 20px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: serif;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 3rem;
}

@media (min-width: 992px) {
    h1 {
        font-size: 3.5rem;
    }
}

h2 {
    font-size: 1.8rem;
}

@media (min-width: 992px) {
    h2 {
        font-size: 2.2rem;
    }
}

p {
    color: var(--h2-color) !important;
}

.font-serif {
    font-family: serif;
}

.container {
    max-width: 1200px !important;
    padding-left: var(--container-spacing) !important;
    padding-right: var(--container-spacing) !important;
}