.main {
  display: flex;
  height: 100%;
}

.main_container {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 3rem;
}

@media (max-width: 575.98px) {
  .main_header__nw {
      display: block;
  }
}

.main_button:not(:focus) {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}